includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/mglaman/phpstan-drupal/extension.neon

parameters:
  level: 5
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  fileExtensions:
    - php
    - module
    - inc
    - theme
    - install
    - profile
  scanDirectories:
    - web/modules/contrib
    - web/themes/contrib
    - web/core
  paths:
    - web/modules/custom
    - web/themes/custom
  type_coverage:
    return_type: 70
    param_type: 40
    property_type: 60
  ignoreErrors:
    - message: '#.*return type has no value type specified.*#'
    - message: '#.*has parameter .* with no type specified.*#'
    - message: '#.*has no return type specified.*#'
    - message: '#.*has parameter .* with no value type specified.*#'
    # new static() is a best practice in Drupal, so we cannot fix that. See https://www.drupal.org/docs/develop/development-tools/phpstan/handling-unsafe-usage-of-new-static#s-ignoring-the-issue
    - message: '#^Unsafe usage of new static#'
    - message: '#^Dynamic call to static method PHPUnit\\\\Framework\\\\Assert#'
